//- views/account.pug

extends _layout

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          li.side-nav--active
            a(href='/me')
              svg
                use(xlink:href='/img/icons.svg#icon-settings')
              | Settings
          li
            a(href='/my-bookings')
              svg
                use(xlink:href='/img/icons.svg#icon-briefcase')
              | My bookings
          li
            a(href='#')
              svg
                use(xlink:href='/img/icons.svg#icon-credit-card')
              | Billing

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          
          //- This is the form for updating user name, email, and photo
          //- Note the class 'form-user-data' which our JS will use
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              //- Added name='name' attribute for the form data
              input#name.form__input(type='text', value=user.name, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              //- Added name='email' attribute for the form data
              input#email.form__input(type='email', value=user.email, required, name='email')
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt=`Photo of ${user.name}`)
              //- This is the actual file input, it's hidden by CSS
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              //- This label is styled to look like a link and is connected to the input above
              label(for='photo') Choose new photo
            .form__group.right
              //- Added class 'btn--save-user-data' for the JS to find the button
              button.btn.btn--small.btn--green.btn--save-user-data Save settings

        .line  

        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          
          //- This is the form for updating the password
          //- Note the class 'form-user-settings' which our JS uses
          form.form.form-user-settings
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green Save password